# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd

# Load dataset:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

# Clean and standardize column names:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.rename(columns={'st': 'state'}, inplace=True)

# Preview:
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [2]:
# Standardize Gender values:
df['gender'] = df['gender'].replace(['Femal', 'female'], 'F').replace(['Male'], 'M')

# Replace State abbreviations with full names:
state_map = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
df['state'] = df['state'].replace(state_map)

# Replace inconsistent Education values:
df['education'] = df['education'].replace(['Bachelors'], 'Bachelor')

# Remove the % character from Customer Lifetime Value and convert to float:
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)

# Standardize Vehicle Class values:
vehicle_class_map = {'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'}
df['vehicle_class'] = df['vehicle_class'].replace(vehicle_class_map)

# Display changes:
print(df[['gender', 'state', 'education', 'customer_lifetime_value', 'vehicle_class']].head())

  gender       state             education  customer_lifetime_value  \
0    NaN  Washington                Master                      NaN
1      F     Arizona              Bachelor                697953.59
2      F      Nevada              Bachelor               1288743.17
3      M  California              Bachelor                764586.18
4      M  Washington  High School or Below                536307.65

   vehicle_class
0  Four-Door Car
1  Four-Door Car
2   Two-Door Car
3            SUV
4  Four-Door Car

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [3]:
# Convert 'customer_lifetime_value' to float:
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

# Process 'number_of_open_complaints' to numeric format:
# Split the string by '/', take the second element and convert to integer:
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: int(x.split('/')[1]) if pd.notnull(x) else x)

# Display changes:
print(df[['customer_lifetime_value', 'number_of_open_complaints']].dtypes)

customer_lifetime_value      float64
number_of_open_complaints    float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [4]:
# Identifying null values and deciding on handling strategy:
null_counts = df.isnull().sum()
print("Null values in each column before handling:\n", null_counts[null_counts > 0])

# Handling numerical columns by filling null values with the median:
numerical_columns = df.select_dtypes(include=['number']).columns
df[numerical_columns] = df[numerical_columns].apply(lambda x: x.fillna(x.median()))

# Handling categorical columns by filling null values with the mode:
categorical_columns = df.select_dtypes(include=['object']).columns
for column in categorical_columns:
    mode_value = df[column].mode()[0]
    df[column] = df[column].fillna(mode_value)

# Verify the handling of null values
print("\nNull values in each column after handling:\n", df.isnull().sum())

# Converting all numerical variables to integers, provided it makes sense given the data:
df[numerical_columns] = df[numerical_columns].astype(int)

# Display changes:
print("\nData types after conversion:\n", df[numerical_columns].dtypes)

Null values in each column before handling:
 customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

Null values in each column after handling:
 customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

Data types after conversion:
 customer_lifetime_value      int64
income                       int64
monthly_premium_auto         int64
number_of_open_complaints    int64
total_claim_amount           int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [5]:
# Identify duplicates:
print("Total duplicated rows:", df.duplicated().sum())

# Decide on a strategy and implement it: (dropping all duplicates, keeping the first occurrence)
df = df.drop_duplicates().reset_index(drop=True)

# Verify successful handling of duplicates:
print("Duplicated rows after handling:", df.duplicated().sum())

# Save the cleaned dataset to a new CSV file:
df.to_csv('cleaned_dataset.csv', index=False)

print("Cleaned dataset saved as 'cleaned_dataset.csv'.")

Total duplicated rows: 2936
Duplicated rows after handling: 0
Cleaned dataset saved as 'cleaned_dataset.csv'.

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [6]:
from data_cleaning import main_cleaning_function

# CSV URL:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
cleaned_df = main_cleaning_function(url)
print(cleaned_df.head())

  customer       state gender             education customer_lifetime_value  \
0  RB50392  Washington      F                Master              251459.20%
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

   income  monthly_premium_auto number_of_open_complaints     policy_type  \
0       0                  1000                    1/0/00   Personal Auto
1       0                    94                    1/0/00   Personal Auto
2   48767                   108                    1/0/00   Personal Auto
3       0                   106                    1/0/00  Corporate Auto
4   36357                    68                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [7]:
# Review statistics for total claim amount and customer lifetime value:
print("Initial statistics for Total Claim Amount and Customer Lifetime Value:")
print(df[['total_claim_amount', 'customer_lifetime_value']].describe())

# Identify the 75th percentile for Total Claim Amount:
total_claim_75th = df['total_claim_amount'].quantile(0.75)

# Identify the 25th percentile for Customer Lifetime Value:
customer_lifetime_25th = df['customer_lifetime_value'].quantile(0.25)

# Filter customers who have high policy claim amount and low customer lifetime value:
target_customers = df[(df['total_claim_amount'] > total_claim_75th) & 
                      (df['customer_lifetime_value'] < customer_lifetime_25th)]

# Calculate summary statistics for the total claim amount and customer lifetime value of the targeted customers:
summary_statistics = target_customers[['total_claim_amount', 'customer_lifetime_value']].describe()
print("\nSummary statistics for high policy claim amount and low customer lifetime value data:")
print(summary_statistics)

Initial statistics for Total Claim Amount and Customer Lifetime Value:
       total_claim_amount  customer_lifetime_value
count         1072.000000             1.072000e+03
mean           404.481343             7.929229e+05
std            292.909076             6.423980e+05
min              0.000000             2.004350e+05
25%            201.750000             4.054045e+05
50%            354.000000             5.881740e+05
75%            532.000000             8.937668e+05
max           2893.000000             5.816655e+06

Summary statistics for high policy claim amount and low customer lifetime value data:
       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.300000            341577.425000
std            149.216449             56921.466178
min            537.000000            228759.000000
25%            632.750000            304220.500000
50%            685.000000            365995.000000
75%            799.000000            387364.000000
max           1185.000000            402381.000000